/* Sidebar fixed */
.main-layout {
  display: flex;
}

.sidebar {
  width: 200px;
  position: fixed;
  top: 1;
  left: 0;
  bottom: 0;
  background-color: #0d133d; /* Use your preferred color */
  padding: 20px 20px 20px 20px; /* Adjust top/bottom as needed */
  height: 100vh;
  overflow-y: auto;
  font-family: Arial, sans-serif;
  color: hsl(0, 7%, 92%);
  z-index: 1000;
}


/* Right section */
.main-content {
  margin-left: 200px; /* match sidebar width */
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Scrollable page body */
.page-content {
  flex: 1;
  padding: 24px;
  background-color: #f2f7fd;
  overflow-y: auto;
}
