.sidebar {
  width: 200px;
  background-color: #0d133d;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
  font-family: Arial, sans-serif;
  color: hsl(0, 7%, 92%);
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 18px;
}

.logo-circle {
  width: 40px;
  height: 40px;
  background-color: #4a90e2;
  border-radius: 50%;
  color: white;
  font-weight: normal;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.logo-divider {
  height: 1px;
  background-color: #eaeaed;
  margin: 4px 0 12px;
  border: none;
}

.section-title {
  font-weight: normal;
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #7d7c7c;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 0; /* reset padding since button will have it */
}

/* .menu li button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 5px;
  background: none;
  border: none;
  font-size: 14px;
  color: #f4eeee;
  cursor: pointer;
  border-radius: 4px;
  text-align: left;
  transition: background-color 0.2s ease;
}

.menu li button:hover,
.menu li.active button {
  background-color: #166ec5;
}

.menu li button svg {
  font-size: 20px;
  color: #eceef0;
} */

.menu li button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 5px;
  background: none;
  border: none;
  font-size: 14px;
  color: #f4eeee;
  cursor: pointer;
  border-radius: 4px;
  text-align: left;
  transition: background-color 0.2s ease;
}

.menu li button:hover {
  background-color: #166ec5;
}

.menu li.active button {
  background-color: #3f00ff;
  font-weight: bold;
}
